<% provide(:about, "active") %>
<% provide(:title, "User Log") %>

<div class="container">
   <div class="row">
    <div class="col-lg-12 text-center">
       <h2>Profile</h2>
       <hr class="star-primary">
     </div>
   </div>
   <div class="row">
     <div class="col-lg-12">
          <%= render "statistics" %>
          <%= render "logs" %>
     </div>
   </div>
</div>