<% provide(:about, "active") %>
<% provide(:title, "About") %>


<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Humans have almost 50,000 thoughts per day. Some of these thoughts make us happy, some not so much. A thought can make us sad or angry for no reason at all. Sometimes it can be impossible to push away these thoughts and focus on something happy. That's where Ladybug comes in. Ladybug allows you to save a positive thought when it arrives and use this thought for a time when your mind needs some positivity. Ladybug has some friends who you may relate to. These are the Mood Characters you see at the bottom of the page. </p>
            </div>
            <div class="col-lg-4">
                <p>Ladybug has some friends who you may relate to. These are the Mood Characters you see at the bottom of the page. Don't be like these friends! You'll find that a negative thought you have is similar to a thought that one of the Mood Characters may have. When you log your thought, ask yourself "Who might have this thought?". Would it be Anxious Andy or maybe Belittling Betty? Tell yourself that this is a thought that a one of them might have, and have a Ladybug tell them otherwise! You'll find that you'll feel much better after you use Ladybug to chase away these negative thoughts!</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="<%= new_log_path %>" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Start Logging!
                </a>
            </div>
        </div>
    </div>
</section>
