<% provide(:home, "active") %>
<% provide(:title, "Home") %>

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag "freelancer/profile.png", size: "200x200", class: "img-responsive" %>
                <div class="intro-text">
                    <span class="name">Think Positive</span>
                    <hr class="star-light">
                    <span class="skills">"<%= @rand_quote[0] %>"<br> <i>- <%= @rand_quote[1] %><i></span>
                </div>
            </div>
        </div>
    </div>
</header>
