// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.range-wrapper {
  overflow: hidden;
  padding: 15px 0px;    
} 
.range-wrapper > div {
  position: center-right;
  top: -15px;
  width: 5px;
}
.range-wrapper > .text {
  pointer-events: none;
}
input[type=range]{
  -webkit-appearance: none;
  background: #eee;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 30px;   
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: url('thumb.png') no-repeat center;
  margin-top: -14px;
  cursor: pointer;
}
input[type=range]:focus {
  outline: none;
  background: #ccc;
}
